<section class="info">
  <div class="texto">
    <h3>Política de Entrega</h3>
    <p>- As entregas são realizadas de segunda a sábado</p>
    <p>- O prazo varia conforme a cidade e o produto escolhido</p>
    <p>- Pedidos feitos no mesmo dia podem ser entregues em até 2h</p>

    <h3>Aceitamos as seguintes formas de pagamento:</h3>
    <p>- Cartão de crédito</p>
    <p>- Pix</p>
    <p>- Boleto bancário</p>

    <h3>Política de Troca e Devolução:</h3>
    <p>- Trocas ou devoluções em até 24h</p>
    <p>- Produto nas mesmas condições</p>

    <h3>Atendimento ao Cliente:</h3>
    <p>- WhatsApp: 11-0001001</p>
    <p>- E-mail: viladasflores@senac.com</p>
    <p>- Horário comercial</p>
  </div>

  <img src="assets/images/jardim.jpg.jpeg" alt="Imagem de jardim florido">
</section>
<footer>
  <h3>Endereço: AV. Engenheiro Eusébio Stevaux, 823 - São Paulo</h3>
  <p>Instagram: @ViladasFlores</p>
  <p>Facebook: @ViladasFlores</p>
</footer>