<header>
  <div class="topo">
    <div class="logo">Vila das Flores</div>
    <button class="login">LOGIN</button>
  </div>

  <nav>
    <a href="#">Início</a>
    <a href="#">Loja</a>
    <a href="#">Contatos</a>
    <a href="#">Carrinho</a>
  </nav>
</header>

<section class="destaques">
  <img src="assets/images/flor1.jpg.jpeg" alt="Flor em destaque 1">
  <img src="assets/images/flor2.jpg.jpeg" alt="Flor em destaque 2">
  <img src="assets/images/flor3.jpg.jpeg" alt="Flor em destaque 3">
  <img src="assets/images/flor4.jpg.jpeg" alt="Flor em destaque 4">
</section>

<section class="faixa-precos">
  <div>Flores até R$ 79,90</div>
  <div>Flores até R$ 150,00</div>
  <div>Flores até R$ 250,00</div>
  <div>Flores acima de R$ 250,00</div>
</section>

<main>
  <app-produtos></app-produtos>
</main>

<section class="info">
  <div class="texto">
    <h3>Política de Entrega</h3>
    <p>- As entregas são realizadas de segunda a sábado</p>
    <p>- O prazo varia conforme a cidade e o produto escolhido</p>
    <p>- Pedidos feitos no mesmo dia podem ser entregues em até 2h</p>

    <h3>Aceitamos as seguintes formas de pagamento:</h3>
    <p>- Cartão de crédito</p>
    <p>- Pix</p>
    <p>- Boleto bancário</p>

    <h3>Política de Troca e Devolução:</h3>
    <p>- Trocas ou devoluções em até 24h</p>
    <p>- Produto nas mesmas condições</p>

    <h3>Atendimento ao Cliente:</h3>
    <p>- WhatsApp: 11-0001001</p>
    <p>- E-mail: viladasflores@senac.com</p>
    <p>- Horário comercial</p>
  </div>

  <img src="assets/images/jardim.jpg.jpeg" alt="Imagem de jardim florido">
</section>

<footer>
  <h3>Endereço: AV. Engenheiro Eusébio Stevaux, 823 - São Paulo</h3>
  <p>Instagram: @ViladasFlores</p>
  <p>Facebook: @ViladasFlores</p>
</footer>