

<app-produtos></app-produtos>
<div class="app-container">

  <header>
    <h1>Vila Das Flores</h1>
  </header>

  <main>
    <app-produtos></app-produtos>
  </main>

  <footer>
    <p>© 2026 Vila Das Flores</p>
  </footer>

</div>

<header>
  <div class="topo">
    <div class="logo">Vila das Flores</div>
    <button class="login">LOGIN</button>
  </div>

  <nav>
    <a href="#">Início</a>
    <a href="#">Loja</a>
    <a href="#">Contatos</a>
    <a href="#">Carrinho</a>
  </nav>
</header>

<section class="destaques">
  <img src="assets/images/flor1.jpg.jpeg">
  <img src="assets/images/flor2.jpg.jpeg">
  <img src="assets/images/flor3.jpg.jpeg">
  <img src="assets/images/flor4.jpg.jpeg">
</section>

<section class="faixa-precos">
  <div>Flores até R$ 79,90</div>
  <div>Flores até R$ 150,00</div>
  <div>Flores até R$ 250,00</div>
  <div>Flores acima de R$ 250,00</div>
</section>

<section class="produtos">
  <div class="card">
    <img src="assets/images/buqueLirios.webp">
    <p>Buquê Lírios<br>R$ 110,00</p>
    <button>Adicionar ao carrinho</button>
  </div>

  <div class="card">
    <img src="assets/images/buqueRosasbrancas.webp">
    <p>Buquê Rosas brancas<br>R$ 85,00</p>
    <button>Adicionar ao carrinho</button>
  </div>

  <div class="card">
    <img src="assets/images/buqueGirassol.jpg.jpeg">
    <p>Buquê Girassol<br>R$ 90,00</p>
    <button>Adicionar ao carrinho</button>
  </div>
</section>

<section class="info">
  <div class="texto">
    <h3>Política de Entrega</h3>
    <br>
    <p>- As entregas são realizadas de segunda a sábado</p>
    <p>- O prazo varia conforme a cidade e o produto escolhido</p>
    <p>- Pedidos feitos no mesmo dia podem ser entregues em até 2h</p>

    <br>
    <h3>Aceitamos as seguintes formas de pagamento:</h3>
    <h5>- Cartão de crédito</h5>
    <h5>- Pix</h5>
    <h5>- Boleto bancário</h5>

    <br>
    <h3>Política de Troca e Devolução:</h3>
    <h5>- Trocas ou devoluções em até 24h</h5>
    <h5>- Produto nas mesmas condições</h5>

    <br>
    <h3>Atendimento ao Cliente:</h3>
    <h5>- WhatsApp: 11-0001001</h5>
    <h5>- E-mail: viladasflores@senac.com</h5>
    <h5>- Horário comercial</h5>
  </div>

  <img src="assets/images/jardim.jpg.jpeg">
</section>

<footer>
  <h3>Endereço: AV. Engenheiro Eusébio Stevaux, 823 - São Paulo</h3>

  <h5>Instagram: @ViladasFlores</h5>
  <br>
  <h5>Facebook: @ViladasFlores</h5>
</footer>