

<section class="destaques">
  <img src="assets/images/flor1.jpg.jpeg" alt="Flor em destaque 1">
  <img src="assets/images/flor2.jpg.jpeg" alt="Flor em destaque 2">
  <img src="assets/images/flor3.jpg.jpeg" alt="Flor em destaque 3">
  <img src="assets/images/flor4.jpg.jpeg" alt="Flor em destaque 4">
</section>

<section class="faixa-precos">
  <div>Flores até R$ 79,90</div>
  <div>Flores até R$ 150,00</div>
  <div>Flores até R$ 250,00</div>
  <div>Flores acima de R$ 250,00</div>
</section>

<main>
  <app-produtos></app-produtos>
</main>

<footer>
  <h3>Endereço: AV. Engenheiro Eusébio Stevaux, 823 - São Paulo</h3>
  <p>Instagram: @ViladasFlores</p>
  <p>Facebook: @ViladasFlores</p>
</footer>