body {
  font-family: 'Inter', serif;
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

img {
  width: 400px;
  border-radius: 10px;
}


.topo {
  display: flex;
  justify-content: center;
  align-items: top;
  position:relative;
  padding: 20px;
  background: white;
  
}

.logo {
 
  background-color: #e5b7f1;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Inter', serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color:black;
}

.login {
  background-color: #d8b4e2;
  color: black;
  position: absolute;
  right: 40px;
  font-family: 'Inter', serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* MENU */
nav {
  display: flex;
  justify-content: space-around;
  background: #ab5cc1;
  padding: 20px 20px 0;
  height: 70px;
}

nav a {
  background: #0a0000;
  padding: 10px 25px;
  border-radius: 20px 20px 0 0;
  width: 130px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  color: black;
}

/* IMAGENS SUPERIORES */
.destaques {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.destaques img {
  width: 175px;
}

/* FAIXA PREÇO */
.faixa-precos {
  display: flex;
  justify-content: space-around;
  background: #ab5cc1;
  padding: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

/* PRODUTOS */
.produtos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.card {
  background: #d8b4e2;
  padding: 20px;
  text-align: center;
  width: 250px;
  height: 400px;
}
.card h3{
  margin-top: 15px;
}
.card p {
  margin-top: 5px;
}
.card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

button, nav a {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: 'Inter', serif;
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}

/* INFO */
.info {
  display: flex;
  background-color: white;
;
  padding: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.info img {
  width: 50%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #d8b4e2;
}

button {
  font-family: 'Italiana', serif;
}
.menu {
  font-family: 'Italiana', serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.icone i {
  font-size: 80px;
  color: #d8b4e2;
  
}
label{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}
input{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #d8b4e2;
  padding: 10px;
  margin-bottom: 15px;
}
.confirmar{
  margin-top: 10px;
  background: #d8b4e2;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* ÁREA PRINCIPAL DOS RELATÓRIOS */
.relatorios-container {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

/* CARDS (Relatório e Próximas vendas) */
.relatorio-card {
  background: #f5f5f5;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  text-align: center;
}

.relatorio-card h2 {
  background: #d8b4e2;
  padding: 8px;
  border-radius: 8px;
}

/* CAMPOS ROXINHOS */
.campo {
  background: #d8b4e2;
  height: 35px;
  border-radius: 15px;
  margin: 10px 0 20px;
}

/* PARTE DE BAIXO (ALERTAS) */
.alertas {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.alerta {
  width: 30%;
  text-align: center;
}

.alerta-box {
  background: #d8b4e2;
  height: 120px;
  border-radius: 10px;
}